/*******************************************************border.html****************************************************/

.border-base {
    width: 200px;
    height: 200px;
    background: #35CCF9;
    margin: 5px auto;
    border-top: 100px solid red;
    border-right: 100px solid green;
    border-bottom: 100px solid black;
    border-left: 100px solid darkblue;
}

.border-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background: #35CCF9;
    overflow: hidden;
    margin: 5px auto;
}
.border-wipes {
    width: 200px;
    height: 200px;
}
.border-wipes:before {
    position: absolute;
    content: '';
    right: 50%;
    margin-right: -100px;
    border-style: solid;
    border-width: 0;
    border-color: rgba(0,0,0,0.2) #fff;
    border-radius: 0 0 0 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    border-right-width: 80px;
    border-bottom-width: 80px;
}
.border-wipes.swiped:before {
    border-right-width: 400px;
    border-bottom-width: 400px;
}

.paper-flip {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.share-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.btn-wrap {
    pointer-events: none;
    opacity: 0;
    text-align: center;
    margin-top: 140px;
    text-align: center;
}
.btn {
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
}
.btn-facebook {
    background-color: #3b5998;
}
.btn-twitter {
    background-color: #00aced;
    margin: 0 20px;
}
.btn-google {
    background-color: #d34836;
}
.btn-close {
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgba(0,0,0,0.3);
    font-size: 20px;
    z-index: 11;
    opacity: 0;
    cursor: default;
}

.paper-flip.folded .btn-close {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    opacity:1;
    cursor: pointer;
    pointer-events: initial;
}

.paper-flip.folded .btn-wrap{
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    pointer-events: initial;
}

.paper-flip.folded .share-layer {
    z-index: 1;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}


.image-layer {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.image-layer img {
    width: 500px;
    cursor: pointer;
}
.image-layer:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0;
    border-color: rgba(0,0,0,0.2) #fff;
    border-radius: 0 0 0 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -webkit-transition: all 0.4s ease-out;
    transition:all 0.4s ease-out;
}
.image-layer:hover:before{
    border-right-width:80px;
    border-bottom-width:80px;
}
.paper-flip.folded .image-layer:before{
    border-right-width:1000px;
    border-bottom-width:600px;
}

/*******************************************************border.html****************************************************/

/******************************************************loading.html****************************************************/

.loading-a {
     width: 100%;
     margin: 5px auto;
     text-align: center;
 }
.loading-a > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.loading-a .loading-thumb {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    border-top: 4px solid #35CCF9;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1000ms infinite loading-rotate linear;
    animation: 1000ms infinite loading-rotate linear;
}

.loading-b {
    width: 100%;
    height: 160px;
    margin: 5px auto;
}
.loading-wrapper {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}
.loading-b img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}
.loading-b .loading-track {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    margin-top: 10px;
    width: 140px;
    height: 140px;
    border: 2px solid #35CCF9;
    border-radius: 50%;
}
.loading-b .loading-thumb {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #35CCF9;
    background-clip: padding-box;
    -webkit-transform-origin: 0 80px;
    transform-origin: 0 80px;
    -webkit-animation: 1000ms infinite loading-rotate;
    animation: 1000ms infinite loading-rotate;
}

.loading-c {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}
.loading-c .loader,
.loading-c .loader:before,
.loading-c .loader:after {
    border-radius: 50%;
}
.loading-c .loader:before,
.loading-c .loader:after {
    position: absolute;
    content: '';
}
.loading-c .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #fff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: loading-rotate 2s infinite ease 1.5s;
    animation: loading-rotate 2s infinite ease 1.5s;
}
.loading-c .loader {
    font-size: 11px;
    text-indent: -99999em;
    margin: 0 auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em #35CCF9;
}
.loading-c .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #fff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: loading-rotate 2s infinite ease;
    animation: loading-rotate 2s infinite ease;
}

@-webkit-keyframes loading-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-d {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}
.loading-d .loader {
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0.8em auto;
    position: relative;
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}
.loading-d .loader:after {
    position: absolute;
    content: '';
}
@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.51em -0.66em 0 -0.42em #35CCF9, -0.75em -0.36em 0 -0.44em #35CCF9, -0.83em -0.03em 0 -0.46em #35CCF9, -0.81em 0.21em 0 -0.477em #35CCF9;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.29em -0.78em 0 -0.42em #35CCF9, -0.43em -0.72em 0 -0.44em #35CCF9, -0.52em -0.65em 0 -0.46em #35CCF9, -0.57em -0.61em 0 -0.477em #35CCF9;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
}
@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
    5%,
    95% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
    30% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.51em -0.66em 0 -0.42em #35CCF9, -0.75em -0.36em 0 -0.44em #35CCF9, -0.83em -0.03em 0 -0.46em #35CCF9, -0.81em 0.21em 0 -0.477em #35CCF9;
    }
    55% {
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.29em -0.78em 0 -0.42em #35CCF9, -0.43em -0.72em 0 -0.44em #35CCF9, -0.52em -0.65em 0 -0.46em #35CCF9, -0.57em -0.61em 0 -0.477em #35CCF9;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: -0.11em -0.83em 0 -0.4em #35CCF9, -0.11em -0.83em 0 -0.42em #35CCF9, -0.11em -0.83em 0 -0.44em #35CCF9, -0.11em -0.83em 0 -0.46em #35CCF9, -0.11em -0.83em 0 -0.477em #35CCF9;
    }
}

/******************************************************loading.html****************************************************/